@import "./menu.scss";
@import "./style.scss";

                                                     // TABLET
@media (min-width: 500px) {
                                // INDEX    
.EXPLORE{
    .exploreButton{
        width: 250px;
    }
    .titleheadsupp{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.FONCTIONNEMENT{
    .title2{
        width: auto;        
        margin-right: auto;
        margin-left: auto;     
    }
    .FoncButton{
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }
}
.RESTAURANT{ 
    .title2{
        width: auto;        
        margin-right: auto;
        margin-left: auto;  
        margin-bottom: 35px;   
    }
    .RCard{
        .photoRCard{
            img{
                top: none;
                object-fit: fill;
            }
        }
    }
    .RbodyCard{
        padding-left: 30px;
    }

}
footer 
{
    padding-left: 0;
    .Flogo{
        margin-right: auto;
        margin-left: auto;
       }
   .Flist{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
   }
}
                                // MENU
.bgPHOTOmenu
{
    display: flex;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    img{
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}
.headR{
    margin-right: auto;
    margin-left: auto;
    width: 440px;
    margin-top: 120px;
        .MainPhoto{           
            display: none;
        }
        .Rname {
            z-index: 1;
            right: auto;
            left: auto;
            align-content: center;
            padding-left: 25px;
            padding-right: 25px;
            width: 440px;
        }
    }
.MENU
{
    border-radius: 0px 0px 35px 35px;    
    overflow: hidden;
    width: 440px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    .choiceCARD{
        width: 400px;
    }
    .commanderButton{
        margin-bottom: 40px;
    }
}                                                   
}
                                                    // DESKTOP
@media (min-width: 900px) {
                            // INDEX
.BOXdesktop{
    display: flex;
}
nav{
    display: flex;
    width: 400px;
    margin-right: 50px;
    margin-left: 50px;
    flex-direction: column;
    .EXPLORE{
        background-color: white;
        margin-top: 50px;
    }
    .FONCTIONNEMENT{
        margin-top: 30px;
    }
}
.RESTAURANT{
    width: 100%;
    margin-top: 0;
    
    .title2{
        width: 100%;          
    }
}
// footer{
//     height: auto;
//     margin-top: auto;
//     margin-bottom: auto;
// }
}