// POLICES
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$Roboto: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

@mixin Titles { 
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;   
}
@mixin LowText {
    font-size: 16px;
    font-weight: 600;
}
// COLORS
$Pcolor: #9356DC;
$Scolor: #FF79DA;
$Tcolor: #99E2D0;
$lightGREY:#f6f6f6;
$darkgreen:#008766;
$lightgreen:#99e2d0;
$shadowLIGHT:rgba(0, 0, 0, 0.199);
$shadowDARK: rgba(0, 0, 0, 0.521);

// GLOBAL
@mixin Gcenter {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;   
}
@mixin PaddingRL {
    padding-left: 5%;
    padding-right: 5%;
}
*
{
    font-family: $Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
}
body
{
    display: flex;
    flex-direction: column;   
}
a
{
    text-decoration: none;
}
h2
{
    @include Titles;
}
h3
{
    font-weight: 700;
    font-size: 15px;
}
p
{
    @include LowText;
}
//LOADING

$anim-dur: 750ms;
$anim-delay: calc($anim-dur / 8);
$numb-letters: 8;

@keyframes letterScale {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1.0);
    }
}
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes LOADING_out {
    0% {
        opacity: 100%;
    }
    80% {
        opacity: 100;
    }
    90% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
    }
}


// LOADING
.LOADING
{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 4;
    justify-content: center;
    animation: 3000ms LOADING_out;
    animation-fill-mode: forwards;


        .Ltext{
            display: flex;            
            top: 0%;
            
            .loadLetter{
                z-index: 6;
                display: flex;
                position: relative;
                font-family: Shrikhand;
                font-size: 40px;
                animation: letterScale $anim-dur forwards infinite alternate-reverse ;
                text-shadow: 2px 1px 10px #3b2557;
                
                
                @for $i from 1 through 8 {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                     }}
            }
        }
        .spin {
            top: 40%;
            z-index: 5;
            position: absolute;
            border: 12px solid #000000;
            border-radius: 50%;
            opacity: 50%;
            border-top: 12px solid $Pcolor;
            border-right: 12px solid $Scolor;
            border-bottom: 12px solid $Pcolor;
            border-left: 12px solid $Scolor;
            width: 170px;
            height: 170px;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
            box-shadow: 10px 10px 50px $Pcolor;
          }   
}
    // ANIMATIONS
@keyframes heartGr {
    0%{   opacity: 0;
        transform: scale(0);
    }
    20%{  opacity: 0.2;
        transform: scale(0.2);
    }
    60%{  opacity: 0.5;
        transform: scale(0.5);
    }
    80%{  opacity: 0.7;
    }
    90%{  opacity: 0.8;
    }
    95%{  transform: scale(1.05);
    }
    98%{  transform:scale(1.02);
    }
    100%{ opacity: 0.95;
        transform: scale(1);          
    }
}                                                    
                                                    
// HEADER
header
{
    flex-direction: column;
    @include Gcenter;
}
.headLOGO
{
    @include Gcenter;
    color: black;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: shrikhand;
    font-size: 28px;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.233);
}
.LOCALISATION
{
    @include Gcenter;
    padding-top: 13px;
    padding-bottom: 13px;
    color: rgba(0, 0, 0, 0.747);
    background-color: rgba(173, 173, 173, 0.432);

        .Ldot {
            font-size: 14px;
            padding-right: 40%;       
        }
        .textGPS{
            font-size: 14px;
            font-weight: 700;
            position: absolute;
        }
}   
.EXPLORE
{
    @include PaddingRL;
    @include Gcenter;
    flex-direction: column;
    background-color: $lightGREY;
    padding-top: 35px;
    padding-bottom: 50px;

        .titleheadsupp{
            margin-top: 4%;
            margin-bottom: 8%;
            color: rgba(0, 0, 0, 0.568);
        }
        .exploreButton{
            margin-right: auto;
            margin-left: auto;
            background: linear-gradient(to bottom right, #FF79DA ,#9356DC);
            width: 70%;
            height: 45px;
            border-radius: 25px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.233) ;
                .EBtext{
                    display: flex;
                    justify-content: center; 
                    padding-top: 12px;  
                    color: white;
                }

                &:hover{
                    box-shadow: 1px 2px 6px $shadowDARK;
                    background: linear-gradient(to bottom right, #ff79d9dc ,#9256dcd8);
                }
        }

}
.FONCTIONNEMENT
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    @include PaddingRL;

        a{
            text-decoration: none;
            color: inherit;
        }
        .title2{
            display: flex;
            width: 100%;
        }
        .FoncButton{
            display: flex;
            align-items: center;
            background-color: $lightGREY;
            border-radius: 16px;
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.137) ;
            width: 94%;
            height: 60px;
            margin-top: 25px;
            margin-left: 10px;
                .Fnumb{
                    position: absolute;
                    color: white;
                    font-size: 13px;
                    margin-left: -11px;
                    text-align: center;
                    padding-top: 1px;
                    background-color: $Pcolor;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                }
                i{
                    color: grey;
                }
                i,h3{
                    margin-left: 10%;
                }
                &:hover{
                    background-color:#9256dc28;
                    i{
                        color: $Pcolor;
                    }
                }              
    }
}
.RESTAURANT
{
    display: flex;
    flex-direction: column;
    background: $lightGREY;
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 30px;
    @include PaddingRL;
     
        .title2{
            margin-bottom: 7%;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        .NewMark{
            display: flex;
            position: absolute;
            right: 5%;        
            margin-top: 15px;
            margin-right: 15px;
            width: 75px;
            height: 25px;
            z-index: 1;
            background-color: $lightgreen;
            color: $darkgreen;
            border-radius: 3px;
            place-content: center;
            place-items: center;
            font-weight: 700;
            font-size: small;
        }
        .RCard{            
            background-color: white;
            border-radius: 15px;
            width: 100%;
            height: 220px;
            margin-bottom: 20px;
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.137) ;         
                .photoRCard {
                    position: relative;
                    height: 68%;
                    border-radius: 15px 15px 0 0;
                    overflow: hidden;
                        img {
                            display: block;
                            position: absolute;
                            object-fit:cover;
                            width: 100%;
                            top: -25%;
                        }
                }
                
                &:hover{
                    background-color:#9256dc36;
                }   
        }        
        .RbodyCard{
            z-index: 4;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 10px;
            .RnameCard{
                width: 80%;
                font-size: 18px ;
                font-weight: 700;
            }
            .RlocCard{
                width: 80%;
                margin-top: 3px;
            }            
            .RheartCard{
                color: GREY;
                z-index: 5;
                position: absolute;
                cursor: pointer;
                display: flex;
                padding-top: 20px;
                right: 10%;
                font-size: 22px;
                transform: translate(0,-7px);                
                    .fa-solid{                        
                        position: absolute;                           
                        opacity: 0;
                        background: linear-gradient(to bottom right, #FF79DA ,#9356DC);
                        background-clip: text;
                        -webkit-background-clip: text; 
                        color: transparent;    
                    }
                    .fa-regular{
                        z-index: 4;
                        opacity: 1;
                    }
                    :hover:not(.fa-regular){
                        animation: heartGr 400ms;                            
                        animation-fill-mode: both;                                           
                    }                        
            }            
    }
}
footer
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding-left: 8%;
    padding-bottom: 25px;

    a{
        text-decoration: none;
            color: inherit;
    }
    .Flogo{
        font-family: shrikhand;
        font-size: 18px;
        letter-spacing: 0.02em;
        margin-top: 18px;
        margin-bottom: 15px;
    }
    .Flist{
        list-style: none;
    }
    li{
        margin-bottom: 5px;
    }
    i{
        font-size: 14px;
        width: 17px;
        height: 17px;
        margin-right: 14px;
    }
}